<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
  <title>{{ title }}</title>
  <meta name="author" content={{ author }} />
  <meta name="keywords" content={{ keywords }} />
  <meta name="description" content={{ description }} />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="/build/style.css" />
</head>
<body>
  <div id="maple">{{ maple|safe }}</div>
  <script type="text/javascript">
    window.__INITIAL_STATE__  = {{ JSON.stringify(initialState) }};
  </script>
  <script src="http://cdn.bootcss.com/react/15.0.2/react.js"></script>
  <script src="http://cdn.bootcss.com/react/15.0.2/react-dom.js"></script>
  <script src="/build/bundle.main.js"></script>
</body>
</html>
